/* sets the font and font weight */
* {
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica  Neue', sans-serif;*/
    font-weight: bold;
}

/* sets the background color */
body {
    background: #EED6D3;
}

/* formats the header */
header {
    background-color: #EED6D3;
    color: #354242;

    
    padding: 20px;
    margin: 10px 5px;

    text-align: left;
    
    font-weight: bold;
    overflow: auto;
    font-size: 15px
}


/* formats the navigation bar */
nav {
    position: sticky;
    top: 0;
}
nav ul {
    background-color: #E98980;

    margin: 10px 5px;
    padding: 0;

    list-style-type: none;
    overflow: auto;
  }
  
nav li {
    float: left;
}
nav a {
    color: #354242;

    padding: 10px 15px;
    display: block;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background-color: #c9de33;
}

/* changes the color of the navbar button of the website you're currently on */
#currentpage {
    background-color: #354242;
    color: #E98980;
}

/* formats the article */
article {
    background-color: #354242;
    color: #E98980;

    padding: 20px;
    margin: 20 5px;
    
    text-align: center;

    overflow: auto;
}
#heading{
    font-size: 30px;
}
#references {
    font-size: 15px;
}
#references hr{
    background-color: #E98980;
    
    border: none;

    height: 1px;
}
#references a{
    color: #E98980;
}


/* sets images and videos to align to the right */
#sidemedia{
    margin: 20px;

    float: right;
    clear: right;
}
#sidemedia2{
    margin: 20px;

    float: left;
    clear: left;
}


/* formats the multiple-choice links found in index.html and questions.html */
#menuoption {
    list-style-type: none;
}
#menuoption li {
    background-color: #E98980; 
    color: #354242;

    padding: 5px;

    float:left;
    clear: left;
}
#menuoption li:hover{
    background-color: #c9de33;
}

/*Removes link color and underline*/
#menuoption a{
    color: #354242;

    text-decoration: none;
}

#linkformat {
    background-color: #E98980; 
    color: #354242;

    padding: 5px;

    text-decoration: none;
}
#linkformat:hover {
    background-color: #c9de33;
}

/* formats the hidden bars in rrr.html */
.hidden{
    background-color:#E98980;
    color: #354242;

    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;

    top: 0px;

    width: 170px;
    height: 40px;

    text-align: center;
    overflow: hidden;

    transition: width 1s ease-out , height 1s ease-out;
}
.hidden img{
height: 32px;
}
.hidden:hover{
    width: 80%;
    height: 380px;
    overflow: auto;
}
.hidden div{
    padding: 20px;

    text-align: left;
    
}
.hidden hr{
    background-color: #354242;
    
    border: none;

    height: 1px;
}

/* formats the footer */
footer {
    background-color: #354242;
    color: #E98980;

    padding: 20px;
    margin: 20px 5px;

    text-align: center;
}
#socialmedias{
    margin: 0 auto;
    padding: 0px;

    list-style-type: none;
    overflow: auto;
  }
  
#socialmedias li {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
}
#socialmedias a {
    display: block;
    width: 50px;
    height: 50px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
#facebook, #instagram, #twitter {
display: inline-block; background: url('../images/socialmedia.png') no-repeat; overflow: hidden; text-align: center; 
}
 
#facebook:hover { background-position: -20px -0px; width: 50px; height: 50px; }
#instagram:hover { background-position: -90px -0px; width: 50px; height: 50px; }
#twitter:hover { background-position: -20px -70px; width: 50px; height: 50px; }
#facebook { background-position: -90px -70px; width: 50px; height: 50px; }
#instagram { background-position: -20px -140px; width: 50px; height: 50px; }
#twitter { background-position: -90px -140px; width: 50px; height: 50px; }
